@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		width: 100%;
		height: 100%;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		height: 100%;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	}
}

.innerHtml-desc h2 {
	@apply text-xl font-semibold mb-2 mt-3;
}
.innerHtml-desc h3 {
	@apply text-lg font-semibold mb-1 mt-2;
}
.innerHtml-desc ul {
	@apply list-disc pl-8;
}
.innerHtml-desc a {
	@apply text-blue-500;
}

.ant-carousel .slick-dots li {
	@apply bg-purple-500;
}
.ant-carousel .slick-active button {
	@apply !bg-purple-200;
}

.ant-card-actions {
	@apply border-t-0;
}

.ant-btn-primary,
[type="submit"] {
	background-color: #1677ff;
	@apply flex items-center;
}

.ant-layout-sider-trigger {
	@apply !bg-transparent !text-slate-900 shadow-inner;
}
